/*.fundoLogin {
    background-image: url("https://img.freepik.com/free-vector/futuristic-background-with-lines_23-2148487905.jpg?size=626&ext=jpg&ga=GA1.1.850763229.1693344107&semt=ais");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}*/